auto-install-peers = true
lockfile = true
link-workspace-packages = true
provenance = true
save-exact = true
strict-peer-dependencies = false
tag-version-prefix=""

registry=https://time-machines-npm.sealsecurity.io/
//time-machines-npm.sealsecurity.io/:_authToken=2025-11-30T15:52:09.637Z
